.toggle-password-button {
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4px;
  right: 0;
}

.toggle-password-button:hover {
  color: var(--color-blue);
}

.toggle-password-button:focus {
  color: var(--color-blue);
}
