@import url('./__title/wrapper__title.css');

.wrapper {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}
