.label {
  display: block;
}

.label-text {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-dark);
  margin: 0 0 8px;
}

@media (min-width: 450px) {
  .label {
    font-size: 16px;
  }
}
