.section {
  width: 100%;
  max-width: 882px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1140px) {
  .section {
    width: calc(100% - 40px);
  }
}
