@import-normalize; /* bring in normalize.css styles */
@import url('./vendor/fonts.css');
@import url('./components/page/page.css');
@import url('./components/wrapper/wrapper.css');
@import url('./components/header/header.css');
@import url('./components/content/content.css');
@import url('./components/form/form.css');
@import url('./components/footer/footer.css');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
